@import url('https://fonts.googleapis.com/css2?family=Acme&family=Berkshire+Swash&family=Merienda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    background-color:rgb(34, 33, 33);
    align-items: center;
    /* position: fixed; */
    justify-content: space-between;

    
}

.container {
    display: flex column;
    justify-content: space-around;
    width: 100%;
    height: 60vh;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-color: orangered;
    border-bottom: 0px rgb(0, 0, 0);
    border-style: solid;
    margin-bottom: 4em;
    cursor: pointer;
}


.header-text{
    color: orangered;
    padding: 0.9em;
    font-size: 4em;
    letter-spacing: 5px;
}
.sub-container{
    display:flex;
    width: 100%;

}
.match-container {
    display: flex;
    margin-top: -2.2em;
    justify-content: center;
    width: 100%;
    margin-left: -5em;

}



.header-text:hover{
    transform: scale(1.2);
    transition: 5s;
    color: lightslategray;
    
}



/* #user {
    display: block;

} */

#user-button{
    font-size: 6.2em;
    border: solid;
    border-radius: 100%;
    background: none;
    padding: 1rem;
    color: seashell;
    margin-top: 3rem;
    width: 8vw;
    cursor: pointer;
}

#user-button:hover{
    transition: 100ms;
    transform: scale(1.1);
    color: orangered;
}

#user-button:active {
    color: white;
    transform: scale(1);
}

.selections {
    box-sizing: border-box;
    background: rgb(0, 0, 0) ;
    border-style: solid;
    border-color: orangered;
    border-right: none;
    border-top: none;
    margin-top: -4em;
    width: 10em;
    padding-right: 12em;
    padding-left: 2em;
    height: 44em;
}


.result-declaration{
    display: flex;
    justify-content: start;
    width: fit-content;
    margin-left: 1.6em;
    word-spacing: 10px;
    font-size: 3.2em;
    height: 100px;
    position: fixed;
    margin-top: 2rem;
    color: orangered;
    background-color: black;
    border-radius: 0px 50px;
    border-style: solid;
    padding: 0px 20px;
    padding-top: 0.5rem;
}

.result-declaration:hover{
    transform: scale(1.05);
    transition: 150ms;
    color: azure;
    cursor: pointer;

}

.user-move{
    color: white;
    font-size: 14em;
    margin-left: -1.5em;
    height: fit-content;
    margin-top: 0.73em;
    margin-right: 300px;
    cursor: pointer;

    
}

.com-move:hover,.user-move:hover{
    transform: scale(1.2);
    transition: 2s;
}

.com-move {
    color: white;
    margin-top: 0.7em;
    font-size: 14em;
    margin-right: -1.5em;
    height: fit-content;
    margin-left: 500px;
    cursor: pointer;
    
}

.score {
    display: flex ;
    justify-content: center;
    gap: 30px;
    background-color: rgb(34, 33, 33);
    position: fixed;
    width: 20%;
    height: 15em;
    margin-top: 11%;
    border-radius: 20px;
}

.user-score {
    display: flex column;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100%;
    border-radius: 60px 10px 10px 60px;
}
.user-score-heading {
    margin-left: 2.5rem;
    color: black;
}

.com-score-heading {
    margin-left: 2.5rem;
    color: white;
}

span {
    font-size: 6rem;
    margin-left: 4rem;
}

.com-score {
    display: flex column;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px 60px 60px 10px;

}


.result {
    letter-spacing: 5px;
    width:fit-content ;
    margin-top: -1.8em;
    margin-left: 32%;
    height: 7rem;
}
.result,h1 {
    font-size: 3.6rem;
    color: rgb(255, 255, 255);
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(155, 155, 155);
    width: 100%;
    margin-top: 8.4em;
}
h2{
    padding: 10px;
}

#reset {
    font-family: 'Acme', sans-serif;
    display: block;
    color: white;
    background: orangered;
    font-size: large;
    border-radius: 20px 20px 8px 8px;
    padding: 10px;
    margin-left: 54em;
    margin-top: -20vh;
    margin-bottom: 10vh;
    min-height: 30px;
}

#reset:hover {
    background-color: rgb(148, 30, 0) ;
    transform: scale(1.1);
    transition: 100ms;
}